@mixin movile {
    @media screen and (max-width:576px){
        @content
    }
}


@mixin flex($value){
    display:flex ;
    flex-direction: $value;
}


$min: 6px;
$short: 12px;
$medium: 24px;
$long: 48px;

@mixin bottom($value){
    margin-bottom: $value;
}